In [0]:
import pandas as pd

In [2]:
year = pd.read_excel('doc.xlsx', parse_dates=['Date'])
year

            Date       Interval  Calls
0     2016-01-01  00:00 - 00:15   39.0
1     2016-01-01  00:15 - 00:30   39.0
2     2016-01-01  00:30 - 00:45   55.5
3     2016-01-01  00:45 - 01:00   55.5
4     2016-01-01  01:00 - 01:15   46.0
...          ...            ...    ...
35131 2016-12-31  22:45 - 23:00  142.5
35132 2016-12-31  23:00 - 23:15  441.0
35133 2016-12-31  23:15 - 23:30  441.0
35134 2016-12-31  23:30 - 23:45  170.5
35135 2016-12-31  23:45 - 00:00  170.5

[35136 rows x 3 columns]

In [3]:
series = pd.to_datetime(year['Date'], format='%d/%m/%Y')
series

0       2016-01-01
1       2016-01-01
2       2016-01-01
3       2016-01-01
4       2016-01-01
           ...
35131   2016-12-31
35132   2016-12-31
35133   2016-12-31
35134   2016-12-31
35135   2016-12-31
Name: Date, Length: 35136, dtype: datetime64[ns]

In [4]:
year['Day of week (int)'] = year['Date'].dt.weekday

year['Day of week (str)'] = year['Date'].dt.day_name()

print(year)

            Date       Interval  Calls  Day of week (int) Day of week (str)
0     2016-01-01  00:00 - 00:15   39.0                  4            Friday
1     2016-01-01  00:15 - 00:30   39.0                  4            Friday
2     2016-01-01  00:30 - 00:45   55.5                  4            Friday
3     2016-01-01  00:45 - 01:00   55.5                  4            Friday
4     2016-01-01  01:00 - 01:15   46.0                  4            Friday
...          ...            ...    ...                ...               ...
35131 2016-12-31  22:45 - 23:00  142.5                  5          Saturday
35132 2016-12-31  23:00 - 23:15  441.0                  5          Saturday
35133 2016-12-31  23:15 - 23:30  441.0                  5          Saturday
35134 2016-12-31  23:30 - 23:45  170.5                  5          Saturday
35135 2016-12-31  23:45 - 00:00  170.5                  5          Saturday

[35136 rows x 5 columns]

In [0]:
year = year.loc[year["Day of week (int)"] == 0]

In [0]:
year.to_excel('mondays.xlsx')

In [0]:
year.to_csv('mondays.csv')